---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Certifications from '../components/Certifications.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hassan Ali | Portfolio">
	<div class="container">
		<Header />
		<main>
			<Hero />
			<About />
			<Skills />
			<Experience />
			<Projects />
			<Education />
			<Certifications />
		</main>
		<Footer />
	</div>
</Layout>
