---
const summary = `Technologist and Certified Software Engineer with experience across Al, financial trading, and IT systems. Strong at dissecting complex systems-debugging code, strategizing in markets, and engineering Al prompts. Now channeling this strength into Data Analysis through the Google Data Analyst certification. Seeking a role in a forward-thinking organization to merge technology and strategy into impactful data solutions and grow into a world-class analyst.`;
---

<div id="about">
    <h2>About Me</h2>
    <p>{summary}</p>
</section>
