---
const currentYear = new Date().getFullYear();
---

<div>
    <p>&copy; {currentYear} Muhammad Hassan Ali. All rights reserved.</p>
</div>

<style>
    footer {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
    }
</style>
